ul li a {
  font-size: larger;
}
.image {
  /* top: 9vh; */
  position: relative;
  width: 100%;
}
.image img {
  width: 100%;
  height: 70vh;
}
.navbar,
a.dropdown-item {
  background-color: rgb(5, 8, 26);
}
@media screen and (max-width: 1400px) {
  .baner {
    display: none;
  }
}
.navbar a {
  color: #fff;
}
.dropdown-menu {
  padding: 0px;
}
.menu-content {
  background-color: rgb(5, 8, 26);
  /* cho thanh menu cố địng ko di chuyển
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 100000;
  width: 100%;
  display: block; */
}
.nav-item:first-child > img,
.logo img {
  /* padding-top: 10px; */
  margin: 0px;
  width: 80px;
}
.bi-search {
  padding-top: 60px;
}

.small_menu a {
  font-size: small;
  right: 100px;
}
.phone {
  right: 100px;
  font-size: small;
}
.bi-person-circle {
  font-size: xx-large;
}
.image form {
  position: absolute;
  top: 20%;
  left: 15%;
}
.name {
  position: absolute;
  top: 5%;
}
.baner {
  position: absolute;
  top: 20%;
  left: 60%;
}
.center > form {
  float: left;
}
.bander {
  padding-left: 20px;
  color: #fff;
}
.center form,
.form {
  background: #000;
  padding: 30px;
  margin-right: 20px;
  border-radius: 10px;
  opacity: 0.8;
}
.d-block {
  width: 70vw;
  height: 40vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px;
}
.grid-container > div {
  text-align: center;

  /* padding: 20px 0; */
  font-size: 30px;
}
.item:first-child {
  grid-column: 1/3;
}
.item:nth-child(2) {
  grid-area: 1/3/3/3;
}
.travel-inside .container .row img {
  width: 100%;
}
#image1 {
  height: 50%;
}
#image2 {
  height: 100%;
}
#image3 {
  height: 50%;
}
.travel-inside .container .col-8 {
  height: 50%;
}
.item1 {
  grid-row: 1/3;
  position: relative;
}
.item2,
.item3,
.item4,
.item,
.itemm {
  position: relative;
}
.centerimg {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 18px;
}
.item2 {
  grid-area: 1/2/2/4;
}
.grid-container img {
  width: 100%;
}
.area1 .item:first-child img,
.item:nth-child(3) img,
.item:nth-child(4) img {
  height: 30vh;
}
.area1 .item:nth-child(2) img,
.item1 img {
  height: 63vh;
}
.item2 img,
.item4 img,
.item3 img {
  height: 30vh;
}
.grid-container img {
  border-radius: 10px;
}
/* fsdfsdfsdf */

.itemm:first-child {
  grid-column: 1/3;
}

.itemm img {
  height: 30vh;
}
.list-group-item img {
  width: 100%;
}

#icon1 {
  width: 2em;

  float: left;
  padding-right: 10px;
}
.icon_social_media .bi,
.bi-messenger {
  padding: 5px;
  font-size: 30px;
  color: rgb(27, 74, 119);
  border-radius: 200px;
}
.bi:hover {
  opacity: 0.7;
}
.social img {
  width: 100px;
  padding: 3px;
}
.dowload img {
  float: left;
}
.social {
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: rgb(241, 227, 209);
}
.img-fluid {
  position: relative;
}
.card-img-overlayy {
  position: absolute;
  bottom: 10px;
}
.justify-content-center {
  padding-top: 30px;
}
.address {
  font-size: 14px;
}
.fade .redd {
  background-color: red;
}
.fade .btn-primary {
  width: 150px;
}
.z-index {
  z-index: 10;
}
@media screen and (max-width: 700px) {
  .card-img-overlayy,
  .baner {
    display: none;
  }
}

.list-group .list-group-item {
  padding: 0px;
  background-color: rgb(241, 227, 209);
}
@media screen and (max-width: 1280px) {
  .container {
    font-size: 70%;
  }
  .navbar {
    overflow-y: auto;
  }
}
